---
layout: default
---
{% include intro.html %}
{% include about.html %}

    <section id="posts" class="content-section text-center">
        <div class="posts-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="post-list">
                    {% for post in site.posts %}
                      <li>
                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                        <h2>
                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h2>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
    </section>
