<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Eian & Isaac</h2>
            <a href="mailto:eian@theeightfoldway.com">eian@theeightfoldway.com</a>
            </br>
            <a href="mailto:isaac@theeightfoldway.com">isaac@theeightfoldway.com</a>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/the8foldway" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/FunkyFortune/funkyfortune.github.io" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
