<!DOCTYPE html>
<html lang="en">
  {% include ganalytics.html %}
  {% include head.html %}

  {% include navbar.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include contact.html %}
    {% include footer.html %}

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/grayscale.js"></script>
  </body>
</html>
